.favorite-card{

    width:300px;

    background:white;

    border-radius:18px;

    overflow:hidden;

    position:relative;

    box-shadow:0 10px 30px rgba(0,0,0,.08);

    transition:.3s;

}

.favorite-card:hover{

    transform:translateY(-10px);

    box-shadow:0 20px 40px rgba(0,0,0,.18);

}

.favorite-image{

    background:#f7f7f7;

    height:260px;

    display:flex;

    justify-content:center;

    align-items:center;

    cursor:pointer;

}

.favorite-image img{

    width:220px;

    object-fit:contain;

    transition:.3s;

}

.favorite-image img:hover{

    transform:scale(1.08);

}

.favorite-content{

    padding:20px;

}

.favorite-content h2{

    font-size:22px;

    margin-bottom:10px;

}

.favorite-content p{

    color:#777;

    margin-bottom:15px;

    height:45px;

}

.favorite-stars{

    color:#ffb400;

    margin-bottom:15px;

}

.favorite-stars span{

    color:#666;

    margin-left:8px;

}

.favorite-content h3{

    color:#c72092;

    font-size:26px;

    margin-bottom:20px;

}

.favorite-buttons{

    display:flex;

    gap:10px;

}

.favorite-buttons button{

    flex:1;

    border:none;

    padding:12px;

    border-radius:12px;

    cursor:pointer;

    font-weight:bold;

    background:linear-gradient(to right,#c72092,#6c14d0);

    color:white;

}

.detail-btn{

    background:#222 !important;

}

.remove-favorite{

    position:absolute;

    right:15px;

    top:15px;

    width:40px;

    height:40px;

    border-radius:50%;

    border:none;

    background:white;

    cursor:pointer;

    box-shadow:0 5px 20px rgba(0,0,0,.15);

}
.favorites-page{

    width:90%;

    margin:120px auto;

}

.favorite-grid{

    display:grid;

    grid-template-columns:repeat(auto-fill,minmax(300px,1fr));

    gap:30px;

}
.favorites-page h1{

    margin-bottom:30px;
}