.about {
  width: 100%;
  min-height: 100vh;
  padding: 80px 10%;
  background:var( --bg-color);
}

.about h1 {
  text-align: center;
  font-size: 60px;
  margin-bottom: 60px;
}

.about h1 span {
  background: linear-gradient(to right, #c72092, #6c14d0);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.about-main {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 60px;
  flex-wrap: wrap;
}

.about-image img {
  width: 500px;
  max-width: 100%;
  transition: 0.3s;
}

.about-image img:hover {
  transform: scale(1.05);
}

.about-text {
  max-width: 550px;
}

.about-text h2 {
  font-size: 40px;
  margin-bottom: 20px;
  color: var(--text-primary);
}

.about-text p {
  font-size: 17px;
  line-height: 1.8;
  color: #555;
  margin-bottom: 20px;
}

.about-text button {
  padding: 14px 35px;
  border: none;
  border-radius: 30px;
  background: linear-gradient(to right, #c72092, #6c14d0);
  color: white;
  font-size: 16px;
  cursor: pointer;
  transition: 0.3s;
}

.about-text button:hover {
  transform: scale(1.05);
}