
/* LANGUAGE BUTTON */

.language-switcher {
  position: relative;
  display: flex;
  align-items: center;
}

.language-btn {
  display: flex;
  align-items: center;
  gap: 10px;

  padding: 10px 10px;

  border: none;
  border-radius: 30px;

  background: linear-gradient(to right, #c72092, #6c14d0);

  color: white;
  font-size: 10px;
  font-weight: 500;

  cursor: pointer;

  transition: 0.3s;
}

.language-btn:hover {
  transform: translateY(-2px);
  box-shadow: 0 5px 15px rgba(199, 32, 146, 0.4);
}

.language-btn img {
  width: 22px;
  height: 22px;
  border-radius: 50%;
  object-fit: cover;
}

.language-dropdown {
  position: absolute;

  top: 55px;
  right: 0;

  width: 180px;

  background: white;

  border-radius: 15px;

  overflow: hidden;

  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.15);

  z-index: 1000;
}

.language-item {
  display: flex;
  align-items: center;
  gap: 12px;

  padding: 12px 15px;

  cursor: pointer;

  transition: 0.3s;
}

.language-item:hover {
  background: #f4f4f4;
}

.language-item img {
  width: 22px;
  height: 22px;
  border-radius: 50%;
}

